<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FingerBlog</title>
<link type="text/css" rel="stylesheet" href="css/fingerblog.css" />
</head>
<body>
	<div id="container">
    	<div id="header"><span style="font-size:36px; font-family:'Trebuchet MS'"><i>Finger Blog</i></span><br/>
        	<span id="say">If you can't explain it simple, you don't understant it well enough. ------ 爱因斯坦</span>
        </div>
        <div id="navigation">
        	<div class="menu-nav-container">
            	<ul id="menu-nav" class="menu">
                	<li id="menu-item" class="current-menu-item"><a href="#">首页/Home</a></li>
                    <li id="menu-item"><a href="#">相册/Photo</a></li>
                    <li id="menu-item"><a href="#">标签/Tag</a></li>
                    <li id="menu-item"><a href="#">关于/About</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
        	<div id="entrynavigation"><a href="#">首页</a></div>
            <div id="article" class="entry">
            	<h2 class="entry-title">
                <a href="" title="">使用viewport meta 标签在手机浏览器上控制布局</a>
                </h2>
                2011-1-11 17:40:03
                <div class="entry-content">
                	<p>
                    手机浏览器是把页面放在一个虚拟的“窗口”（viewport）中，通常这个虚拟的“窗口”（viewport）比屏幕宽，这样就不用把每个网页挤到很小的窗口中（这样会破坏没有针对手机浏览器优化的网页的布局），用户可以通过平移和缩放来看网页的不同部分。
                    </p>
                </div>
                <div class="entry-meta">
	                <span class="clear"><a href="" title="">阅读全文>></a></span> 
                    <span class="category">分类: <a href="" title="" rel="">互联网</a> </span>
                    <span><a href="" class="commentlink" title="">评论: 3 </a></span>
                    <span class="view" id="post_views">浏览: 89 </span>                   
                </div>
            </div>
            
             <div id="article" class="entry">
            	<h2 class="entry-title">
                <a href="" title="">使用viewport meta 标签在手机浏览器上控制布局</a>
                </h2>
                2011-1-11 17:40:03
                <div class="entry-content">
                	<p>
                    手机浏览器是把页面放在一个虚拟的“窗口”（viewport）中，通常这个虚拟的“窗口”（viewport）比屏幕宽，这样就不用把每个网页挤到很小的窗口中（这样会破坏没有针对手机浏览器优化的网页的布局），用户可以通过平移和缩放来看网页的不同部分。
                    </p>
                </div>
                <div class="entry-meta">
	                <span class="clear"><a href="" title="">阅读全文>></a></span> 
                    <span class="category">分类: <a href="" title="" rel="">互联网</a> </span>
                    <span><a href="" class="commentlink" title="">评论: 3 </a></span>
                    <span class="view" id="post_views">浏览: 89 </span>                   
                </div>
            </div>
            
             <div id="article" class="entry">
            	<h2 class="entry-title">
                <a href="" title="">使用viewport meta 标签在手机浏览器上控制布局</a>
                </h2>
                2011-1-11 17:40:03
                <div class="entry-content">
                	<p>
                    手机浏览器是把页面放在一个虚拟的“窗口”（viewport）中，通常这个虚拟的“窗口”（viewport）比屏幕宽，这样就不用把每个网页挤到很小的窗口中（这样会破坏没有针对手机浏览器优化的网页的布局），用户可以通过平移和缩放来看网页的不同部分。
                    </p>
                </div>
                <div class="entry-meta">
	                <span class="clear"><a href="" title="">阅读全文>></a></span> 
                    <span class="category">分类: <a href="" title="" rel="">互联网</a> </span>
                    <span><a href="" class="commentlink" title="">评论: 3 </a></span>
                    <span class="view" id="post_views">浏览: 89 </span>                   
                </div>
            </div>
            
            <div id="paginator" class="pagenavi">
            	<a class="prev page-numbers" href="">&laquo; Prev</a>
            	<span class="page-numbers current">1</span>
                <a class="page-numbers" href="#">2</a>
                <a class="page-numbers" href="#">3</a>
				<a class="page-numbers" href="#">4</a>
                <a class="page-numbers" href="#">5</a>
                <span class="page-numbers dots">...</span>
                <a class="page-numbers" href="#">43</a>
                <a class="next page-numbers" href="">Next &raquo;</a>
            </div>
        </div>
        <div id="sidebar">
        	<h3>最新文章/Articles</h3>
            <ul>
            	<li><a href="#">WordPress 相关日志插相关日志插件... </a></li>
				<li><a href="#">WordPress 相关日志相关日志插插件... </a></li>
                <li><a href="#">WordPress 相关日志相关日志插插件... </a></li>
                <li><a href="#">WordPress 相关日志插相关日志插件... </a></li>
                <li><a href="#">WordPress 相关日相关日志插志插件... </a></li>
            </ul>
            <h3>分类/Categories</h3>
            <ul>
            	<li><a href="#">Java (10)</a></li>
				<li><a href="#">Python (52)</a></li>
                <li><a href="#">Actionscript (24)</a></li>
                <li><a href="#">Erlang (5)</a></li>
                <li><a href="#">Ext (0)</a></li>
            </ul>
            <h3>存档/Archives</h3>
            <ul>
            	<li><a href="#">2011-01</a></li>
				<li><a href="#">2010-12 </a></li>
                <li><a href="#">2010-11</a></li>
                <li><a href="#">2010-10</a></li>
                <li><a href="#">2010-09</a></li>
                <li><a href="#">更多... </a></li>
            </ul>
            <h3>链接/Links</h3>
            <ul>
            	<li><a href="#">Javaeye</a></li>
				<li><a href="#">CSDN</a></li>
                <li><a href="#">啄木鸟</a></li>
                <li><a href="#">天地会</a></li>
                <li><a href="#">WordPress</a></li>
            </ul>
        </div>
        <div id="footer">
      		<p style="float:right;">
            <a href="">Top</a> 
            </p>
        	<p><span>© Copyright 2011 finger.zhou(at)gmail(dot)com 保留所有权利 </span></p>
            当前版本: 1.0 <sup>TM</sup>
        </div>
    </div>
</body>
</html>

