<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FingerBlog</title>
<link type="text/css" rel="stylesheet" href="css/fingerblog.css" />
</head>
<body>
	<div id="container">
    	<div id="header"><span style="font-size:36px; font-family:'Trebuchet MS'"><i>Finger Blog</i></span><br/>
        	<span id="say">If you can't explain it simple, you don't understant it well enough. ------ 爱因斯坦</span>
        </div>
        <div id="navigation">
        	<div class="menu-nav-container">
            	<ul id="menu-nav" class="menu">
                	<li id="menu-item" class="current-menu-item"><a href="#">首页/Home</a></li>
                    <li id="menu-item"><a href="#">相册/Photo</a></li>
                    <li id="menu-item"><a href="#">标签/Tag</a></li>
                    <li id="menu-item"><a href="#">关于/About</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
        	<div id="entrynavigation">  <a href="#"> 博客 &raquo; Java &raquo; 博客赚钱：通过博客月赚 1000 美元不是梦</a></div>
            <div id="article" class="entry single">
            	<h1 class="entry-title">博客赚钱：通过博客月赚 1000 美元不是梦</h1>
                <div class="entry-meta">
                	<span class="author">Denis</span>
                    <span class="date">2008年11月02日</span>
                    <span class="view" id="post_views">浏览: 85438</span>
                </div>
                <div class="entry-content">
                	<p>博客不能成为主流，其中一个原因是博客很难盈利，很多人把这个归咎于特殊情况，事实上，我们通过博客月赚 1000 美元完全可能。我通过博客赚钱最高记录远远超过过 1000 美元每个月，而且每个月通过博客赚的钱都稳定有 5K RMB 左右，如果加上 WordPress 项目，肯定远远超过这个数。
通过博客赚钱或者作为一种职业是完全是可能的，其实这个也是我梦想的职业，今天就介绍下可以如何通过博客赚钱，甚至月赚 1000 美元：</p>
<p>博客不能成为主流，其中一个原因是博客很难盈利，很多人把这个归咎于特殊情况，事实上，我们通过博客月赚 1000 美元完全可能。我通过博客赚钱最高记录远远超过过 1000 美元每个月，而且每个月通过博客赚的钱都稳定有 5K RMB 左右，如果加上 WordPress 项目，肯定远远超过这个数。
通过博客赚钱或者作为一种职业是完全是可能的，其实这个也是我梦想的职业，今天就介绍下可以如何通过博客赚钱，甚至月赚 1000 美元：</p>
<p>博客不能成为主流，其中一个原因是博客很难盈利，很多人把这个归咎于特殊情况，事实上，我们通过博客月赚 1000 美元完全可能。我通过博客赚钱最高记录远远超过过 1000 美元每个月，而且每个月通过博客赚的钱都稳定有 5K RMB 左右，如果加上 WordPress 项目，肯定远远超过这个数。
通过博客赚钱或者作为一种职业是完全是可能的，其实这个也是我梦想的职业，今天就介绍下可以如何通过博客赚钱，甚至月赚 1000 美元：</p>
<p>博客不能成为主流，其中一个原因是博客很难盈利，很多人把这个归咎于特殊情况，事实上，我们通过博客月赚 1000 美元完全可能。我通过博客赚钱最高记录远远超过过 1000 美元每个月，而且每个月通过博客赚的钱都稳定有 5K RMB 左右，如果加上 WordPress 项目，肯定远远超过这个数。
通过博客赚钱或者作为一种职业是完全是可能的，其实这个也是我梦想的职业，今天就介绍下可以如何通过博客赚钱，甚至月赚 1000 美元：</p>
<p>博客不能成为主流，其中一个原因是博客很难盈利，很多人把这个归咎于特殊情况，事实上，我们通过博客月赚 1000 美元完全可能。我通过博客赚钱最高记录远远超过过 1000 美元每个月，而且每个月通过博客赚的钱都稳定有 5K RMB 左右，如果加上 WordPress 项目，肯定远远超过这个数。
通过博客赚钱或者作为一种职业是完全是可能的，其实这个也是我梦想的职业，今天就介绍下可以如何通过博客赚钱，甚至月赚 1000 美元：</p>
                </div>
                <script type="text/javascript">
				function toggle_posts(id){
					if(id == 'related_posts'){
						document.getElementById('related_posts_title').className = 'post_list_title_selected';
						document.getElementById('related_posts').style.display = '';
						document.getElementById('most_viewed_category_posts_title').className = '';
						document.getElementById('most_viewed_category_posts').style.display = 'none';
						document.getElementById('category_recent_posts_title').className = '';
						document.getElementById('category_recent_posts').style.display = 'none';
					}else if(id == 'most_viewed_category_posts'){
						document.getElementById('related_posts_title').className = '';
						document.getElementById('related_posts').style.display = 'none';
						document.getElementById('most_viewed_category_posts_title').className = 'post_list_title_selected';
						document.getElementById('most_viewed_category_posts').style.display = '';
						document.getElementById('category_recent_posts_title').className = '';
						document.getElementById('category_recent_posts').style.display = 'none';
					}else if(id == 'category_recent_posts'){
						document.getElementById('related_posts_title').className = '';
						document.getElementById('related_posts').style.display = 'none';
						document.getElementById('most_viewed_category_posts_title').className = '';
						document.getElementById('most_viewed_category_posts').style.display = 'none';
						document.getElementById('category_recent_posts_title').className = 'post_list_title_selected';
						document.getElementById('category_recent_posts').style.display = '';
					}
				}
                </script>
                <div class="entry_extend">
                	<div id="socialshare">分享到：
	                    <a class="sina-share" rel="nofollow" onclick="social_share(post_id,'sina')" href="#">新浪微博</a>
                        <a class="douban-share" rel="nofollow" onclick="social_share(post_id,'douban')" href="#">豆瓣</a>
                        <a class="kaixin-share" rel="nofollow" onclick="social_share(post_id,'kaixin')" href="#">开心网</a>
                        <a class="renren-share" rel="nofollow" onclick="social_share(post_id,'renren')" href="#">人人网</a>
                        <a class="qq-share" rel="nofollow" onclick="social_share(post_id,'qq')" href="#">QQ 空间</a>
                    </div>
                    <div id="copyright">                    
						© 版权归作者所有，请勿转载本博客日志到任何博客或论坛。
                    </div>
                    <div class="posts_lists">
                    	<h3 class="post_list_title">
                        	<span id="related_posts_title" class="post_list_title_selected" onmouseover="toggle_posts('related_posts')">相关文章</span>
                            <span id="most_viewed_category_posts_title"  onmouseover="toggle_posts('most_viewed_category_posts')">最热文章</span>
                            <span id="category_recent_posts_title" onmouseover="toggle_posts('category_recent_posts')">最新文章</span>
                        </h3>
                        <ul id="related_posts">
                        	<li><a href="#" title="#">相关日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">相关日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">相关日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">相关日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">相关日志：通过博客月赚 1000 美元不是梦</a></li>
                        </ul>
                        <ul id="most_viewed_category_posts" style="display:none;">
                        	<li><a href="#" title="#">最热日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最热日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最热日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最热日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最热日志：通过博客月赚 1000 美元不是梦</a></li>
                        </ul>
                        <ul id="category_recent_posts" style="display:none;">
                            <li><a href="#" title="#">最新日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最新日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最新日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最新日志：通过博客月赚 1000 美元不是梦</a></li>
                            <li><a href="#" title="#">最新日志：通过博客月赚 1000 美元不是梦</a></li>
                        </ul>
                    </div>
                </div>
                <div class="postnavi">
                    <span class="pre"><a href="">&laquo; Ask2Link 链接交易平台</a></span>
                    <span class="next"><a href="">如何统计 Feed 阅读数 &raquo;</a></span>
                </div>
                <div id="comment">
                    <h3 class="comments_title" id="comments">
                       	114 条评论
                        <a href="#commentform" class="more">添加你的评论 →</a>
                    </h3>
                    <ul class="commentlist">
						<li class="comment" id="">
                        	<div class="hreview">
        						<div class="comment_header alt">
                                	西施美女 <span class="abbr">2010-11-09 17:32:37</span> <a href="#">回复</a> <a href="#">引用</a>
                                </div>
                                <div id="description">
                                	<p>恩啊，这个很少羡慕呀</p>
                                </div>
						    </div>
						</li>
                        <li class="comment" id="">
                        	<div class="hreview">
        						<div class="comment_header alt">
                                	西施美女 <span class="abbr">2010-11-09 17:32:37</span> <a href="#">回复</a> <a href="#">引用</a>
                                </div>
                                <div id="description">
                                	<p>恩啊，这个很少羡慕呀</p>
                                </div>
						    </div>
						</li>
                        <li class="comment" id="">
                        	<div class="hreview">
        						<div class="comment_header alt">
                                	西施美女 <span class="abbr">2010-11-09 17:32:37</span> <a href="#">回复</a> <a href="#">引用</a>
                                </div>
                                <div id="description">
                                	<p>恩啊，这个很少羡慕呀</p>
                                </div>
						    </div>
						</li>
					</ul>
                </div>
                <div id="respond">
                	<h3 class="comments_title">发表评论</h3>
                    <p>你必须 <strong><a href="#">登陆</a></strong> 之后才能留言。</p>
                </div>
            </div>
        </div>
        
        <div id="sidebar">
        	<h3>最新文章/Articles</h3>
            <ul>
            	<li><a href="#">WordPress 相关日志插相关日志插件... </a></li>
				<li><a href="#">WordPress 相关日志相关日志插插件... </a></li>
                <li><a href="#">WordPress 相关日志相关日志插插件... </a></li>
                <li><a href="#">WordPress 相关日志插相关日志插件... </a></li>
                <li><a href="#">WordPress 相关日相关日志插志插件... </a></li>
            </ul>
            <h3>分类/Categories</h3>
            <ul>
            	<li><a href="#">Java (10)</a></li>
				<li><a href="#">Python (52)</a></li>
                <li><a href="#">Actionscript (24)</a></li>
                <li><a href="#">Erlang (5)</a></li>
                <li><a href="#">Ext (0)</a></li>
            </ul>
            <h3>存档/Archives</h3>
            <ul>
            	<li><a href="#">2011-01</a></li>
				<li><a href="#">2010-12 </a></li>
                <li><a href="#">2010-11</a></li>
                <li><a href="#">2010-10</a></li>
                <li><a href="#">2010-09</a></li>
                <li><a href="#">更多... </a></li>
            </ul>
            <h3>链接/Links</h3>
            <ul>
            	<li><a href="#">Javaeye</a></li>
				<li><a href="#">CSDN</a></li>
                <li><a href="#">啄木鸟</a></li>
                <li><a href="#">天地会</a></li>
                <li><a href="#">WordPress</a></li>
            </ul>
        </div>
        <div id="footer">
      		<p style="float:right;">
	            <a href="#" onclick="goTop();return false;">Top</a>
            </p>
        	<p><span>© Copyright 2011 finger.zhou(at)gmail(dot)com 保留所有权利 </span></p>
            当前版本: 1.0 <sup>TM</sup>
        </div>
        <script type="text/javascript">
		function goTop(acceleration, time) {
		  	acceleration = acceleration || 0.1;//加速度 acceleration
		   	time = time || 15;//时间间隔
			var x=0,y=0;
			
			if (document.documentElement) {
			   x = document.documentElement.scrollLeft|| 0;
			   y = document.documentElement.scrollTop || 0;
			}
			
			var speed = 1 + acceleration;//滚动速度
			//  floor()返回值为小于等于其数值参数的最大整数值 假如 y=36 speed=1.1   36/1.1=32;
			// scrollTo()滚动条将要移动到x y 经过计算得出的值
			window.scrollTo(Math.floor(x / speed), Math.floor(y / speed));
			//如果 x (scrollLeft!=0)||y(scrollTop!=0)还未移动到顶部.所以setTimeout()继续执行该函数
			if(x > 0 || y > 0) {
				var invokeFunction = "goTop(" + acceleration + ", " + time + ")";
				window.setTimeout(invokeFunction, time);
			}
		}
		</script>

    </div>
</body>
</html>

